/* css reset */
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
fieldset,
form,
tr,
th,
td,
center,
input,
button,
textarea {
    padding: 0;
    margin: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

button,
input,
select,
textarea {
    font-size: 12px;
}

input,
img,
select {
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-family: "MicroSoft YaHei";
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* float */
.clearfix:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
}

/* a */
a {
    text-decoration: none;
    outline: none;
}

a:active {
    star: expression(this.onFocus=this.blur());
}

:focus {
    outline: 0;
}

a:hover {
    text-decoration: none;
}